# Home Assistant runtime DB + sidecars
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal

# Common HA state dirs
.storage/
home-assistant.log*
home-assistant_*.log*
deps/

**/*/.storage
zigbee.db
zigbee.db-shm
zigbee.db-wal
